html {
    scroll-behavior: smooth;
}

body {
    background-color: black
}

h3 {
    font-size: 5em;
    margin-bottom: 5px;
    text-align: center;
}

h3, p, li {
    color: white;
    font-family: Arial, Verdana, Tahoma, sans-serif;
}

/* Experience Table */
.experience {
    width: 100%;
    td {
        vertical-align: top;
    }
}

/* Left column of the Experience table */
.experienceLeft {
    width: 20%;
}

/* Styling for the main divs of the page */
.mainCenterDiv {
    width: 70%;
    margin: auto;
}

.skills {
    width: 100%;
    text-align: center;
}

.navBar {
    top:0;
    left:0;
    position: fixed;
    width: 100%;
    background-color: grey;
}

/* Buttons in the navigation bar */
.navBar a {
    display: block;
    float: left;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
}

/* When hovering over one of the navigation bar buttons */
.navBar a:hover {
    background-color: red;
    color: green;
}

.navBarLink {
    padding: 10px 0px;
}
