html {
    scroll-behavior: smooth;
}

body {
    background-color: black
}

/* All font types */
h3, p, li {
    color: white;
    font-family: Arial, Verdana, Tahoma, sans-serif;
}

/* Navigation Bar */
.navBar {
    top:0;
    left:0;
    position: fixed;
    width: 100%;
    background-color: #4F4B50;
    /* Buttons in the navigation bar */
    a {
        display: block;
        float: left;
        text-align: center;
        font-size: 2em;
        text-decoration: none;
        color: white;
        padding: 10px 0px;
        width: 20%;
    }
    a:hover {
        background-color: #E9E9E9;
        color: black;
    }
}
/* Id for navigation bar to send user to on click */
.navBarLink {
    padding: 10px 0px;
}

/* Section Headings */
h3 {
    font-size: 5em;
    margin-bottom: 5px;
    text-align: center;
}

/* Styling for the main divs of the page */
.mainCenterDiv {
    width: 70%;
    margin: auto;
}

#aboutSection {
    text-align: center;
    p {
        font-size: 1.3em;
    }
}

/* Skills Table */
.skills, .projects {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    td {
        border: 2px solid;
        border-color: white;
    }
    a {
        display: block;
        text-decoration: none;
    }
    p {
        font-size: 2em;
    }
    td:hover {
        background-color: #4F4B50;
        transform: scale(1.1);
        border-radius: 25px;
    }
    img {
        height: 16em;
    }
}
.projects td {
    width: 50%;
}

/* Experience Table */
.experience {
    width: 100%;
    td {
        vertical-align: top;
    }
}
/* Left column of the Experience table */
.experienceLeft {
    width: 20%;
}

/* Styling for social links */
.socialLinks {
    margin: auto;
    width: 10%;
    display: block;
    text-align: center;
    img {
        height: 3em;
    }
}
/* Buttons that link to my LinkedIn and GitHub accounts */
#linkedIn, #gitHub {
    padding: 10px 10px;
    width: 3em;
    height: 3em;
    object-fit: scale-down;
    a {
        text-decoration: none;
        display: block;
    }
}
#linkedIn {
    img {
        transform: scale(1.5)
    }
}
